/* Tailwind Core */
@import 'tailwindcss';

/* ReUI Configs */
@import './config.reui.css';

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }

  .required::after {
    content: "*";
    color: red;
  }
  
  /* Job table row coloring */
  [data-fab-type="standard"] {
    background-color: #9eeb47;
  }
  [data-fab-type="standard"]:hover {
    background-color: #9eeb47;
  }
  [data-fab-type="fab only"] {
    background-color: #5bd1d7;
  }
  [data-fab-type="fab only"]:hover {
    background-color: #5bd1d7;
  }
  [data-fab-type="cust redo"] {
    background-color: #f0bf4c;
  }
  [data-fab-type="cust redo"]:hover {
    background-color: #f0bf4c;
  }
  [data-fab-type="resurface"] {
    background-color: #d094ea;
  }
  [data-fab-type="resurface"]:hover {
    background-color: #d094ea;
  }
  [data-fab-type="fast track"] {
    background-color: #f59794;
  }
  [data-fab-type="fast track"]:hover {
    background-color: #f59794;
  }
  [data-fab-type="ag redo"] {
    background-color: #f5cc94;
  }
  [data-fab-type="ag redo"]:hover {
    background-color: #f5cc94;
  }
  tr {
    transition: background-color 0.2s ease;
  }
  
  /* Remove hover effects from table rows */
  .data-grid-table tbody tr:hover,
  .card-table .data-grid-table tr:hover {
    background-color: transparent !important;
  }
}

/* Metronic Components  */
@import './components/image-input.css';
@import './components/apexcharts.css';
@import './components/leaflet.css';
@import './components/rating.css';
@import './components/image-input.css';
@import './components/scrollable.css';

/* Demos */
@import './demos/demo1.css';

/** Dark/Light Theme Variant **/
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(.dark *));

